{% extends '/_base.html.twig' %}

{% block pageTitle %}Customers list page{% endblock %}

{% block main %}

    <h1>Customer list</h1>
    <h4><a href="customers/create">Add New Customer</a></h4>

    <table>
            <tr>
                <th></th>
                <th>customerName</th>
                <th>addressLine1</th>
                <th>addressLine2</th>
                <th>addressLine3</th>
                <th>county/ postcode</th>
                <th>officeName</th>
                <th>mobileTelephone</th>
                <th>landlineTelephone</th>
            </tr>

            <tr>
                {% for customer in customers %}

                <td>
                    <a href="customers/show/{{customer.Id}}">View</a>
                    <a href="customers/update/{{customer.Id}}">Edit</a>
                    <a href="customers/delete/{{customer.Id}}">Delete</a>
                    </td>
                <td>{{ customer.customerName}}</td>
                <td>{{ customer.addressLine1}}</td>
                <td>{{ customer.addressLine2}}</td>
                <td>{{ customer.addressLine3}}</td>
                <td>{{ customer.countyPostcodeName}}</td>
                <td>{{ customer.officeName}}</td>
                <td>{{ customer.mobileTelephone}}</td>
                <td>{{ customer.landlineTelephone}}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}