
{% extends '/_base.html.twig' %}

{% block pageTitle %}Edit Service User Details{% endblock %}
{% block main %}
    <form action="" method="post">

<table>
        <tr>
            <td>
                <h4>Service User Details</h4>
            </td>
            <td>
                <a href="../rosters/create/{{serviceUser.id}}">Add A Roster For this Service User</a>
            </td>
            <td>
                <a href="../assignEmployee/{{serviceUser.id}}">Assign an Employee to this Service User</a>
            </td>
            <td>
                <a href="../addDoNotSend/{{serviceUser.id}}">Add an Employee as  Do Not Send</a>
            </td>
            <td>
            <a href="../update/{{serviceUser.Id}}">Edit serviceUser</a>
            </td>
            <td>
            <a href="/../delete/{{serviceUser.Id}}">Delete serviceUser</a>
            </td>
            <td>
            <a href="/../serviceusers">Return to serviceUser list</a>
            </td>

        </tr>


</table>
    <div class="column_container">
    <section class="flex">
    <table>


        <input type="hidden" name="Id" value="{{serviceUser.Id}}" >
        <th>
            Service User Details
        </th>
        <tr>
        <td>serviceUser Name:</td>
        <td>{{serviceUser.firstName}} {{serviceUser.lastName}} </td>
    </tr>
    <tr>
        <td>Address Line 1:</td>
        <td>{{serviceUser.addressLine1}}</td>
    </tr>
    <tr>
        <td>Address Line 2:</td>
        <td>{{serviceUser.addressLine2}}</td>
    </tr>
    <tr>
        <td>Address Line 3:</td>
        <td>{{serviceUser.addressLine3}}</td>
    </tr>
    <tr>
        <td>County/Postcode:</td>
        <td>{{serviceUser.countyPostcodeName}}</td>
    </tr>
    <tr>
        <td>Eircode:</td>
        <td>{{ serviceUser.eirCode}}</td>
    </tr>
    <tr>
       <td>Landline Telephone:</td>
        <td>{{ serviceUser.landlineTelephone}}</td>
    </tr>
    <tr>
        <td>Mobile Telephone:</td>
        <td>{{ serviceUser.mobileTelephone}}</td>
    </tr>
    <tr>
        <td>Managing Office:</td>
        <td>{{ serviceUser.officeName }}</td>
    </tr>
        <tr>
            <td>Start Date:</td>
            <td>{{ serviceUser.startDate}}</td>
        </tr>
        <tr>
            <td>Finish Date:</td>
            <td>{{ serviceUser.finishDate}}</td>
        </tr>
        <tr>
            <td>Active serviceUser?</td>
            <td> {% if (serviceUser.isActive== true) %}
                Active
                {% elseif (serviceUser.isActive== false) %}
                Inactive
                {% endif %}</td>
        </tr>
    </table>
    </section>
        <table>
            <th>Assigned Employees</th>
            {% for assignedEmployee in assignedEmployees %}

                <tr>
                    <td>
                        {{ assignedEmployee.staffNumber }}  {{ assignedEmployee.firstName}}  {{ assignedEmployee.lastName}}
                    </td>
                    <td>
                        <a href="../removeassignment/{{assignedEmployee.id}}">Unmark as Assigned</a>

                    </td>
                </tr>
            {% endfor %}
        </table>



        <table>
            <th>Do Not Send These Employees</th>
            {% for doNotSend in doNotSends %}

                <tr>
                    <td>
                        {{ doNotSend.staffNumber }}  {{ doNotSend.firstName}}  {{ doNotSend.lastName}}
                    </td>
                    <td>
                        <a href="../donotsenddelete/{{doNotSend.id}}">Unmark as Do Not Send</a>

                    </td>
                </tr>
            {% endfor %}
        </table>
        </section>
    </div>
<section>
    <table>

            <tr>
                <th></th>

                <th>Day</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Duration</th>
                <th>Roster Status</th>
                <th>Customer</th>
            </tr>

            <tr>
                {% for roster in rosters %}

                <td>
                    <a href="../rosters/show/{{roster.id}}">View</a>
                    <a href="../rosters/update/{{roster.id}}">Edit</a>
                    <a href="../rosters/delete/{{roster.id}}">Delete</a>
                </td>


                <td>{{ roster.day}}</td>
                <td>{{ roster.rosterStartTime}}</td>
                <td>{{ roster.rosterEndTime}}</td>
                <td>{{ roster.duration}} hours</td>
                <td>{{ roster.roster_status}}</td>
                <td>{{ roster.customername}}</td>
            </tr>
        {% endfor %}
    </table>
    </section>
        </div>
        </form>





{% endblock %}