
{% extends '/_base.html.twig' %}

{% block pageTitle %}Edit Service User Details{% endblock %}
{% block main %}
    <form action="" method="post">
    <p>Service User Details</p>

    <div class="column_container">
    <section class="flex">
    <table>


        <input type="hidden" name="Id" value="{{serviceUser.Id}}" >
        
        <tr>
        <td>serviceUser Name:</td>
        <td>{{serviceUser.firstName}}</td>
    </tr>
    <tr>
        <td>Address Line 1:</td>
        <td>{{serviceUser.addressLine1}}</td>
    </tr>
    <tr>
        <td>Address Line 2:</td>
        <td>{{serviceUser.addressLine2}}</td>
    </tr>
    <tr>
        <td>Address Line 3:</td>
        <td>{{serviceUser.addressLine3}}</td>
    </tr>
    <tr>
        <td>County/Postcode:</td>
        <td>{{serviceUser.countyPostcodeName}}</td>
    </tr>
    <tr>
        <td>Eircode:</td>
        <td>{{ serviceUser.eirCode}}</td>
    </tr>
    <tr>
       <td>Landline Telephone:</td>
        <td>{{ serviceUser.landlineTelephone}}</td>
    </tr>
    <tr>
        <td>Mobile Telephone:</td>
        <td>{{ serviceUser.mobileTelephone}}</td>
    </tr>
    <tr>
        <td>Managing Office:</td>
        <td>{{ serviceUser.officeName }}</td>
    </tr>
        <tr>
            <td>Start Date:</td>
            <td>{{ serviceUser.startDate}}</td>
        </tr>
        <tr>
            <td>Active serviceUser?</td>
            <td> {% if (serviceUser.isActive== true) %}
                Active
                {% elseif (serviceUser.isActive== false) %}
                Inactive
                {% endif %}</td>
        </tr>
    </table>
    </section>
    </div>



    <table>
        <td><input type="submit" value="Add A Roster For this Service User"></td>
        {% for roster in rosters %}
            <tr>
                <th></th>

                <th>Day</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Duration</th>
                <th>Roster Status</th>
                <th>Customer</th>
            </tr>

            <tr>

                <td>
                    <a href="../rosters/show/{{roster.id}}">View</a>
                    <a href="../rosters/update/{{roster.id}}">Edit</a>
                    <a href="../rosters/delete/{{roster.id}}">Delete</a>
                </td>


                <td>{{ roster.day}}</td>
                <td>{{ roster.rosterStartTime}}</td>
                <td>{{ roster.rosterEndTime}}</td>
                <td>{{ roster.duration}} hours</td>
                <td>{{ roster.roster_status}}</td>
                <td>{{ roster.customername}}</td>
            </tr>
        {% endfor %}
    </table>
    </section>
    </div>
    <br>
    <a href="../update/{{serviceUser.Id}}">Edit serviceUser</a>
    <a href="/../delete/{{serviceUser.Id}}">Delete serviceUser</a>
    </br>
    <a href="/../serviceUsers">Return to serviceUser list</a>
    </form>
{% endblock %}