
{% extends '/_base.html.twig' %}

{% block pageTitle %}Edit Roster Details{% endblock %}
{% block main %}
    <p>Roster Details</p>

    <table>


        <input type="hidden" name="Id" value="{{roster.Id}}" >

        <td>serviceUser Name:</td>
        <td>{{roster.sufirstname}} {{ roster.sulastname}}</td>
    </tr>
    <tr>
        <td>Day </td>
        <td>{{roster.day}}</td>
    </tr>
        <tr>
            <td>Date</td>
            <td>{{roster.rosterStartTime}}</td>
        </tr>
    <tr>
        <td>Start Time</td>
        <td>{{roster.starttime}}</td>
    </tr>
    <tr>
        <td>End Time</td>
        <td>{{roster.endtime}}</td>
    </tr>
    <tr>
        <td>Duration</td>
        <td>{{roster.duration}} hours</td>
    </tr>
    <tr>
        <td>Customer Name</td>
        <td>{{ roster.customername}}</td>
    </tr>
        <tr>
            <td>Status</td>
            <td>{{ roster.roster_status}}</td>
        </tr>
    </table>
    <table>
        <h2>Employees currently assigned to this roster</h2>
        <h4>  <a href="../assignemployeetoroster/{{roster.id}}">Assign employee to this roster</a>
        </h4>
    {% for assignedEmployee in assignedEmployees%}

<tr>
        <td>{{assignedEmployee.staffNumber}}
        </td>
    <td>{{assignedEmployee.firstName}} {{assignedEmployee.lastName}}</td>
    <td><a href="rosters/delete/{{assignedEmployee.id}}">Remove</a></td>
        </tr>
        {% endfor %}
    </table>
    <a href="../update/{{roster.Id}}">Edit Roster</a>
    <a href="../update/{{roster.Id}}">Delete Roster</a>
    <a href="/../rosters">Return to Roster list</a>

{% endblock %}